html {
	font-family: 60.5%;
}

:root {
	--bg-color: #181a1b;
	--text-color: #d9d9d9;
	--link-color: #ff7472;
}


/*clases animadas*/



* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

a,
li {
	text-decoration: none;
	color: var(--color1);

	&:hover {
		color: var(--bgBone);
	}
}

body {
	background-color: var(--bgBone);
}

.container-header {
	background-color: var(--color5);
	/* background-color: var(--bgBone); */

}

.container-header figure {
	max-width: 130px;
	object-fit: cover;
	filter: drop-shadow(2px 2px 3px var(--black));
}

.container-header h1 {
	margin: 0px auto;
	font-size: var(--fs-jumbo2);
	font-family: var(--fontPrimary);
	font-weight: 700;
	color: var(--color1);
}

.container-header div ul li {
	color: var(--color1);
	cursor: pointer;
	font-size: var(--fs-extra);
	transition: all .30s ease-in-out;

	&:hover {

		color: var(--bgBone);

		&.heartbeat {
			animation: heartbeat 1.2s ease-in-out infinite both;
		}

	}
}

.container-header nav ul {
	max-width: 700px;
}

.container-header nav ul li {
	font-size: var(--fs-normal);
	font-size: var(--fs-media);
	font-family: var(--fontSecondary);
	font-weight: 600;
	padding: 3px 7px;
	cursor: pointer;
	border-radius: 10px;
	transition: all .20s ease-in;

	&:hover {
		color: var(--bgBone);
		background-color: #09463b77;
	}

}

.container-header button {
	color: var(--bgBone);
	background-color: var(--color1);
	margin-bottom: 10px;
	transition: all 0.30s ease-in-out;

	&:hover {
		background-color: var(--bgBone);
		color: var(--color1);
	}
}


.menuCel {
	position: relative;
}

.menuCel ul {
	/* background-color: var(--sombra3); */
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	border-radius: 15px;
	color: var(--color1);
	background-color: var(--color5);
	box-shadow: 0px -2px 20px var(--black);
	bottom: 0px;
	right: 0px;
	left: 0px;
	z-index: 5;
}

.menuCel ul li {
	cursor: pointer;
	font-size: 1.8rem;
	padding: 3px 5px;
	transition: all .30s ease-in-out;

	&:hover {
		color: var(--bgBone);
		transform: scale(.90);
	}
}

.container-banner .carousel-inner div img {
	width: 100%;
	height: 78vh;
	object-fit: cover;
}


.destacados {
	/* background-color: var(--sombra2); */
	display: flex;
	gap: 10px;
	padding: 10px;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;

	&::-webkit-scrollbar {
		display: none;
	}

}


.destacados img {
	height: 250px;
	border-radius: 5px;
	box-shadow: 2px 2px 20px var(--black);
	object-fit: cover;
	scroll-snap-align: center;
	transform: scale(.80);

	filter: grayscale(1);
	transition: all .30s ease-in-out;

	&:hover {
		transform: none;
		filter: none;
		z-index: 4;
		box-shadow: 3px 3px 5px var(--black)
	}


}


.querys {
	display: flex;
	flex-wrap: wrap;
	margin-right: 10px;
	justify-content: end;
	gap: 5px;
	align-items: center;
}

.querys select,
.querys input {
	padding: 6px 6px;
	border-radius: 5px;
	border: none;
	border: 1px solid var(--color4);
	/* box-shadow: 1px 1px 2px var(--black); */

}


.catalogo {
	max-width: 1000px;
	min-height: 30vh;
	margin: 0px auto;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}


.catalogo .card {
	position: relative;
	width: 100%;
	max-width: 300px;
	margin: 10px 0px;
}

.catalogo .card > span{
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: var(--color4);
	color: var(--white);
	padding: 3px 8px;
	border-radius: 5px;
	font-family: var(--fontSecondary);
	font-weight: 600;
}

.catalogo .card img {
	height: 20rem;
	object-fit: cover;
	transition: all .30s ease-in-out;

	&:hover{
		object-fit: contain;
	}


}


.catalogo h4 {
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
	font-family: var(--fontPrimary);
	font-weight: 700;
}

.catalogo .star {
	color: var(--color4);
	font-size: var(--fs-large);
}

.botons {
	margin: 0px auto;
	display: table;

}

.catalogo button {
	/* padding: 3px 9px; */
	width: 6rem;
	margin: 15px 10px;
}

.cart-container{
	position: relative;
	color: var(--white);

}

.cart-container .cart-container-bg{
	position: fixed;
	top: 0px;
	z-index: 2;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	background-color: var(--modal);
	margin: 0px auto;
}

.cart-container .cart-container-bg .cart{
	/* background-color: var(--modal2); */
	background-color: #000000b2;
	z-index: 4;
	max-width: 370px;
	margin: 10px auto;
	border-radius: 15px;
	text-align: center;
	padding: 20px;
	

}

.cart-container .cart-container-bg h3{
	font-family: var(--fontPrimary);
	font-weight: 500;
}

.cart-container .cart-container-bg i{
	color: red;
	font-size: 1.5rem;
	cursor: pointer;

}


.cart-container .cart-container-bg img{
    width: 100%;
    height: 48vh;
    object-fit: scale-down;
}

.cart-container .cart-container-bg .cart-body p{
	width: 100%;
	font-family: var(--fontSecondary);
	font-weight: 400;
}


/* HTML: <div class="loader"></div> */
.loader {
	color: var(--color1);
	width: 4px;
	aspect-ratio: 1;
	border-radius: 50%;
	box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
	transform: translateX(-38px);
	animation: l21 .5s infinite alternate linear;
  }
  
  @keyframes l21 {
	50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
	100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
  }


footer {
	background-color: var(--bgSecundary-400);

	.copy {
		background-color: var(--bgSecundary);
	}
}



@keyframes heartbeat {
	from {
		transform: scale(1);
		transform-origin: center center;
		animation-timing-function: ease-out;
	}

	10% {
		transform: scale(0.91);
		animation-timing-function: ease-in;
	}

	17% {
		transform: scale(0.98);
		animation-timing-function: ease-out;
	}

	33% {
		transform: scale(0.87);
		animation-timing-function: ease-in;
	}

	45% {
		transform: scale(1);
		animation-timing-function: ease-out;
	}
}